.floors-lifts{
    position: relative;
}

.floor {
    border-bottom: 2px solid black;
    display: flex;
}

.floor-btn {
    margin: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 2rem;
}

/* .floor:nth-child(2){
    background-color: blue;
} */

/* button:nth-child(1) {
    color: red;
    background-color: aquamarine;
} */



.lifts {
    display: flex;
    column-gap: 24px;
    margin-bottom: 100px;
    margin-left: 100px;
    position:absolute;
    bottom: -96px
}

.lift-container {
    width: 100px;
    height: 100px;
    display: flex;
    background-color: purple;
}

.left-door {
    width: 50%;
    height: 100px;
    background-color: orange;
    border: 1px solid grey;
}

.right-door {
    width: 50%;
    height: 100px;
    background-color: red;
    text-align: right;
    border: 1px solid grey;
}


.floor-num {
    margin-left:auto;
}